<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="/admin/head :: head"></head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" th:insert="/admin/menu :: menu">
    </nav>

    <div id="page-wrapper">

        <video controls="controls">
            <source src="\teacherFiles\Imges\教师职业道德2 标清(270P).qlv">
        </video>
        ddd
    </div>
    <!-- /#page-wrapper -->
</div>


<div th:insert="/admin/footjs :: foot"></div>
</body>
</html>